# --------------------------------
# point-cloud-registration
# --------------------------------
## lar-3d-reconstruction 
### point-cloud-registration --> lar-3d-reconstruction --> data --> LAR
point-cloud-registration/lar-3d-reconstruction/data/LAR/ORBBEC/front/RGBD/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR/ORBBEC/side/RGBD/pointcloud.ply
### point-cloud-registration --> lar-3d-reconstruction --> data --> LAR2 --> pointclouds
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/0/depth/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/0/RGB/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/30/depth/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/30/RGB/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/60/depth/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/60/RGB/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/90/depth/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/90/RGB/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/120/depth/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/120/RGB/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/150/depth/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/150/RGB/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/180/depth/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/180/RGB/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/left/depth/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/left/RGB/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/right/depth/pointcloud.ply
point-cloud-registration/lar-3d-reconstruction/data/LAR2/pointclouds/right/RGB/pointcloud.ply
### point-cloud-registration --> lar-3d-reconstruction --> data --> LAR2 --> videos
point-cloud-registration/lar-3d-reconstruction/data/LAR2/videos/
### point-cloud-registration --> lar-3d-reconstruction --> data --> LAR2 --> results
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_60_90_120_150_180_Monocolor.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_60_90_120_150_180_RGB.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_60_90_120_150_Monocolor.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_60_90_120_150_RGB.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_60_90_120_Monocolor.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_60_90_120_RGB.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_60_90_Monocolor.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_60_90_RGB.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_60_Monocolor.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_60_RGB.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_Monocolor.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_0_30_RGB.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_30_60_Monocolor.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_30_60_RGB.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_60_90_Monocolor.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_60_90_RGB.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_90_120_Monocolor.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_90_120_RGB.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_120_150_Monocolor.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_120_150_RGB.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_150_180_Monocolor.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_150_180_RGB.ply
point-cloud-registration/lar-3d-reconstruction/results/LAR2/pointcloud_left_right_Monocolor.ply